  <h1>Add a New Tea to your Collection</h1>

  <form method="post" action="/users/teas">
    <span>Name:</span>
      <input type="text" id="tea_name" name="tea[tea_name]">
    <br><br>
    <span>Brand:</span>
      <input type="text" id="brand" name="tea[brand]">
      <br><br><p class="notes">Please enter the brand's name or enter Unknown</p>
    <span>Types:</span>
    <%@types.each do |type|%>
      <input type="checkbox" name="type[type_ids][]" value="<%=type.id%>" id="<%=type.id%>"><%=type.type_name%></input>
    <%end%>
    <p></p>
     <p>...or create a new type: <input type="text" name="type[type_name]"/></p>
     <p class="notes">Please enter Black(Red), Green, Oolong, Pu-erh, Tisane(Herbals, Roobios), White, Yellow, or Unknown</p>
    <span>Origin:</span>
      <input type="text" name="tea[origin]"/>
     <br><br><p class="notes">Please enter a comma for multiple origins (ex. China, Japan). Enter Unknown for unknown origins</p>
    <span>Leaves:</span>
      <input type="radio" name="tea[leaves]" value="Loose Leaf"> Loose Leaf
      <input type="radio" name="tea[leaves]" value="Teabag"> Teabag
    <br><br>
    <span>Caffeine:</span>
      <input type="radio" name="tea[caffeine]" value="Caffeine"> Caffeine
      <input type="radio" name="tea[caffeine]" value="Caffeine-Free"> Caffeine-Free
    <br><br>
    <span>Pairings:</span>
      <input type="text" name="tea[pairing]"/>
    <br><br><p class="notes">Please enter a comma for multiple pairings (ex. Milk, Cream). Enter None for no pairings</p>
    <span>Brew Time:</span>
      <input type="text" name="tea[brew_time][]" value="# of scoops/teabags">
      <input type="text" name="tea[brew_time][]" value="# of cups">
      <input type="text" name="tea[brew_time][]" value="temperature">
      <input type="text" name="tea[brew_time][]" value="time">
    <br><br>
    <span>Tasting Notes:</span>
      <input type="text" name="tea[tasting_notes]">
    <br><br>
    <span>Comments:</span>
      <input type="text" name="tea[comments]">
    <br><br>
    <span>Rating:</span>
      <select name="tea[rating]">
        <% (1..5).to_a.each do |number| %>
          <option value="<%=number%>"><%= number %></option>
        <% end %>
      </select>
    <br><br>
    <input type="submit" value="Add New Tea">
  </form>

<br>
<p><a href='/users/<%=@user.slug%>/teas'> Cancel </a></p>
