  <h1>Edit Your Tea</h1>

  <h3> <%=@tea.tea_name%></h3>
  <br>
  <form method="post" action="/users/<%=@user.slug%>/teas/<%=@tea.id%>">
    <input type="hidden" name="_method" value="patch">
    <span>Name:</span>
      <input type="text" id="tea_name" name="tea[tea_name]" value="<%=@tea.tea_name%>"/>
    <br><br>
    <span>Brand:</span>
      <input type="text" id="brand" name="tea[type][brand]"/>
    <br><br>
    <span>Types:</span>
    <%@tea.types.each do |type|%>
      <input type="checkbox" name="tea[type][type_name][]" value="<%=type.id%>" id="<%=type.id%>"><%=type.type_name%></input>
    <%end%>
     Or create a new type: <input type="text" name="tea[type][type_name]"/>
    <br><br>
    <span>Origin:</span>
    <%@tea.types.each do |type|%>
      <input type="checkbox" name="tea[type][origin][]" value="<%=type.id%>" id="<%=type.id%>"><%=type.origin%></input>
    <%end%>
     Or create a new origin: <input type="text" name="tea[type][origin]"/>
    <br><br>
    <span>Leaves:</span>
      <input type="radio" name="tea[type][leaves]" value="Loose Leaf"> Loose Leaf
      <input type="radio" name="tea[type][leaves]" value="Teabag"> Teabag
    <br><br>
    <span>Caffeine:</span>
      <input type="radio" name="tea[type][caffeine]" value="Caffeine"> Caffeine
      <input type="radio" name="tea[type][caffeine]" value="Caffeine-Free"> Caffeine-Free
    <br><br>
    <span>Pairings:</span>
    <%@tea.types.each do |type|%>
      <input type="checkbox" name="tea[type][pairing][]" value="<%=type.id%>" id="<%=type.id%>"><%=type.pairing%></input>
    <%end%>
      Or create a new pairing: <input type="text" name="tea[type][pairing]"/>
    <br><br>
    <span>Brew Time:</span>
      <input type="text" name="tea[type][brew_time][]" value="# of scoops/teabags">
      <input type="text" name="tea[type][brew_time][]" value="# of cups">
      <input type="text" name="tea[type][brew_time][]" value="temperature">
      <input type="text" name="tea[type][brew_time][]" value="time">
    <br><br>
    <span>Tasting Notes:</span>
      <input type="text" name="tea[type][tasting_notes]">
    <br><br>
    <span>Comments:</span>
      <input type="text" name="tea[type][comments]">
    <br><br>
    <input type="submit" value="Edit Tea">
  </form>
