<!-- begin setup Logo and Navigation -->

  <h1>Tea Crate</h1>

  <h3>Menu</h3>
    <ul>
      <li><a href="/users/show">Home</a></li>
      <li><a href="/teas/tea-info/history-tea">History of Tea</a></li>
      <li><a href="/teas/tea-info/art-of-tea">The Art of Tea</a></li>
      <li><a href="/teas/tea-info/tea-customs">Tea Customs</a></li>
      <li><a href="/teas/tea-info/tea-etiquette">Tea Etiquette</a></li>
      <li><a href="/teas/tea-info/tea-resources">Tea Resources</a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>

    <br>
<!-- end setup Logo and Navigation -->

<h1>Edit Your Tea<h1>

<form method="post" action="/users/<%=@user_id%>/teas/new">
  <input type="hidden" name="_method" value="patch">
  <label>Name:</label>
  <input type="text" name="tea_name">
  <br>
  <label>Brand:</label>
  <input type="text" name="tea_brand">
  <br>
  <label>Type:</label>
    <%@types.each do |type|%>
      <input type="checkbox" name="tea[type_id]" value="<%=type.id%>" id="<%=type.id%>"><%=type.name%></input>
    <%end%>
  <br>
  <label>Origin:</label>
    <%@types.each do |type|%>
      <input type="checkbox" name="tea[type_id]" value="<%=type.id%>" id="<%=type.id%>"><%=type.origin%></input>
    <%end%>
  <br>
  <label>Leaves:</label>
    <%@types.each do |type|%>
      <input type="checkbox" name="tea[type_id]" value="<%=type.id%>" id="<%=type.id%>"><%=type.leaves%></input>
    <%end%>
  <br>
  <label>Caffiene:</label>
    <%@types.each do |type|%>
      <input type="checkbox" name="tea[type_id]" value="<%=type.id%>" id="<%=type.id%>"><%=type.caffiene%></input>
    <%end%>
  <br>
  <label>Pairings:</label>
    <%@types.each do |type|%>
      <input type="checkbox" name="tea[type_id]" value="<%=type.id%>" id="<%=type.id%>"><%=type.pairings%></input>
    <%end%>
  <br>
  <label>Brew Time:</label>
    <%@types.each do |type|%>
      <input type="checkbox" name="tea[type_id]" value="<%=type.id%>" id="<%=type.id%>"><%=type.brew_time%></input>
    <%end%>
  <br>
  <label>Tasting Notes:</label>
  <input type="text" name="tasting_notes">
  <br>
  <label>Comments:</label>
  <input type="text" name="comments">
  <br>
  <input type="submit" value="Edit Tea">
</form>
