  <h1>Edit Your Tea</h1>

  <% if flash.has?(:message) %>
    <h3><%= flash[:message] %></h3>
  <% end %>
  <br>

  <h3> <%=@tea.tea_name%></h3>
  <br><br>
  <form method="post" action="/users/<%=@user.slug%>/teas/<%=@tea.id%>">
    <input type="hidden" name="_method" value="patch">
    <span>Name:</span>
      <input type="text" id="tea_name" name="tea[tea_name]" value="<%=@tea.tea_name%>"/>
    <br><br>
    <span>Brand:</span>
      <input type="text" id="brand" name="tea[brand]" value="<%=@tea.brand%>"/>
      Or create a new brand: <input type="text" name="tea[brand]"/>
    <br><br>
    <span>Types:</span>
    <% @tea.types.each do |type| %>
      <input type="checkbox" name="type[type_ids][]" value="<%=type.id%>" id="<%=type.id%>"><%=type.type_name%></input>
    <%end%>
     Or create a new type: <input type="text" name="type[type_name]"/>
    <br><br>
    <span>Origin:</span>
      <input type="text" name="tea[origin]" value="<%=@tea.origin%>"/>
     Or create a new origin: <input type="text" name="tea[origin]"/>
    <br><br>
    <span>Leaves:</span>
      <input type="radio" name="tea[leaves]" value="Loose Leaf"> Loose Leaf
      <input type="radio" name="tea[leaves]" value="Teabag"> Teabag
    <br><br>
    <span>Caffeine:</span>
      <input type="radio" name="tea[caffeine]" value="Caffeine"> Caffeine
      <input type="radio" name="tea[caffeine]" value="Caffeine-Free"> Caffeine-Free
    <br><br>
    <span>Pairings:</span>
      <input type="text" name="tea[pairing][]" value="<%=@tea.pairing%>"/>
      Or create a new pairing: <input type="text" name="tea[pairing]"/>
    <br><br>
    <span>Brew Time:</span>
      <input type="text" name="tea[brew_time][]" value="# of scoops/teabags">
      <input type="text" name="tea[brew_time][]" value="# of cups">
      <input type="text" name="tea[brew_time][]" value="temperature">
      <input type="text" name="tea[brew_time][]" value="time">
    <br><br>
    <span>Tasting Notes:</span>
      <input type="text" name="tea[tasting_notes]">
    <br><br>
    <span>Comments:</span>
      <input type="text" name="tea[comments]">
    <br><br>
    <input type="submit" value="Edit Tea">
  </form>

  <br>
  <p><a href='/users/<%=@user.slug%>/teas'> Cancel </a></p>
