  <h1><%=@user.username.capitalize%>'s Tea Crate</h1>
  <br>
  <% if flash.has?(:message) %>
    <h3><%= flash[:message] %></h3>
  <% end %>
  <br>

  <h3><a href="/users/<%=@user.slug%>/teas/new">Add a New Tea to Your Collection</a></h3>

  <!-- user can sort by tea name(abc order), type, origin, or brands -->
  <!-- user can search by tea name -->
  <!-- user can edit and delete an exisiting tea -->
  <h4>Your Teas</h4>

  <% @user.teas.each.with_index do |tea, index| %>
    <div>
      <h3> <%= index+1 %> <a href="/users/<%=@user.slug%>/teas/<%=tea.id%>"><%= tea.tea_name %></a></h3>
    </div>
  <% end %>
