<!-- begin setup Logo and Navigation -->

  <h1>Tea Crate</h1>

  <h3>Menu</h3>
    <ul>
      <li><a href="/users/show">Home</a></li>
      <li><a href="/teas/tea-info/history-tea">History of Tea</a></li>
      <li><a href="/teas/tea-info/art-of-tea">The Art of Tea</a></li>
      <li><a href="/teas/tea-info/tea-customs">Tea Customs</a></li>
      <li><a href="/teas/tea-info/tea-etiquette">Tea Etiquette</a></li>
      <li><a href="/teas/tea-info/tea-resources">Tea Resources</a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>

    <br>
<!-- end setup Logo and Navigation -->

  <h1>Your Tea Crate</h1>

  <h3><a href="/users/<%=@user.id%>/teas/new">Add a New Tea to Your Collection</a></h3>

  <!-- user can sort by tea name(abc order), type, origin, or brands -->
  <!-- user can search by tea name -->
  <!-- user can edit and delete an exisiting tea -->
  <h4>Your Teas</h4>
  <% @user.teas.each do |tea| %>
    <h2><%=tea.name%></h2>
    <p>Type: <%=tea.type%></p>
    <p>Origin: <%=tea.origin%></p>
    <p>Brand: <%=tea.brand%></p>
    <p>Leaves: <%=tea.leavess%></p>
    <p>Caffiene: <%=tea.caffiene%></p>
    <p>Pairings: <%=tea.pairings%></p>
    <p>Brew Time: <%=tea.brew_time%></p>
    <p>Tasting Notes: <%=tea.tasting_notes%></p>
    <p>Comments: <%=tea.comments%></p>
  <% end %>
