<!-- begin setup Logo and Navigation -->

  <h1>Tea Crate</h1>

  <h3>Menu</h3>
    <ul>
      <li><a href="/users/show">Home</a></li>
      <li><a href="/teas/tea-info/history-tea">History of Tea</a></li>
      <li><a href="/teas/tea-info/art-of-tea">The Art of Tea</a></li>
      <li><a href="/teas/tea-info/tea-customs">Tea Customs</a></li>
      <li><a href="/teas/tea-info/tea-etiquette">Tea Etiquette</a></li>
      <li><a href="/teas/tea-info/tea-resources">Tea Resources</a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>

    <br>
<!-- end setup Logo and Navigation -->

  <h1>Your Tea Crate</h1>

  <h3><a href="/users/<%=@user.id%>/teas/new">Add a New Tea to Your Collection</a></h3>

  <!-- user can sort by tea name(abc order), type, origin, or brands -->
  <!-- user can search by tea name -->
  <!-- user can edit and delete an exisiting tea -->
  <h4>Your Teas</h4>

  <% @teas.each.with_index do |tea, index| %>
    <h3> <%=index+1%> <a href="/users/<%=@user.id%>/teas/<%=@tea_id%>"><%=tea.tea_name%></a></h3>
  <% end %>
