  <h1>Your Tea Tin</h1>
  <br>
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>
  <br><br>
    <h3> <%=@tea.tea_name%> </h3>

    <br>

    <span>Brand: </span><%=@tea.brand%></p>
    <span>Origin: </span><%=@tea.origin%></p>
    <span>Types: </span><% @types = @tea.types.map { |t| t.type_name }.join(", ") %> <%= @types %></p>
    <span>Leaves: </span><%=@tea.leaves%></p>
    <span>Caffeine: </span><%=@tea.caffeine%></p>
    <span>Pairings: </span><%=@tea.pairing%></p>
    <span>Brew Time: </span><%=@tea.brew_time%></p>
    <span>Tasting Notes: </span><%=@tea.tasting_notes%></p>
    <span>Comments: </span><%=@tea.comments%></p>

  <br><br>

  <form method="post" action="/users/<%=@user.slug%>/teas/<%=@tea.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete This Tea">
  </form>

  <br>
  <p><a href="/users/<%=@user.slug%>/teas/<%=@tea.id%>/edit">Edit This Tea</a> | <a href="/users/<%=@user.slug%>/teas">See all your teas</a></p>
