  <h1>Your Tea Tin</h1>
  <br>
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>
  <br><br>
    <h3> <%=@tea.tea_name%> </h3>
    <p>Brand: <%=@tea.brand%></p>
    <br>
  <% @tea.types.each do |the_tea| %>
    <p>Type: <%=the_tea.type_name%></p>
    <p>Origin: <%=the_tea.origin%></p>
    <p>Leaves: <%=the_tea.leaves%></p>
    <p>Caffeine: <%=the_tea.caffeine%></p>
    <p>Pairings: <%=the_tea.pairing%></p>
    <p>Brew Time: <%=the_tea.brew_time%></p>
    <p>Tasting Notes: <%=the_tea.tasting_notes%></p>
    <p>Comments: <%=the_tea.comments%></p>
  <% end %>

  <form method="post" action="/users/<%=@user.slug%>/teas/<%=@tea.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete This Tea">
  </form>

  <br>
  <p><a href="/users/<%=@user.slug%>/teas/<%=@tea.id%>/edit">Edit This Tea</a> | <a href="/users/<%=@user.slug%>/teas">See all your teas</a></p>
