<!-- begin setup Logo and Navigation -->

  <h1>Tea Crate</h1>

  <h3>Menu</h3>
    <ul>
      <li><a href="/users/show">Home</a></li>
      <li><a href="/teas/tea-info/history-tea">History of Tea</a></li>
      <li><a href="/teas/tea-info/art-of-tea">The Art of Tea</a></li>
      <li><a href="/teas/tea-info/tea-customs">Tea Customs</a></li>
      <li><a href="/teas/tea-info/tea-etiquette">Tea Etiquette</a></li>
      <li><a href="/teas/tea-info/tea-resources">Tea Resources</a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>

    <br>
<!-- end setup Logo and Navigation -->

  <h1>Your Tea</h1>
  <br>
    <h3> <%=@tea.tea_name%> </h3>
    <br>
  <% @tea.types.each do |tea| %>
    <p>Type: <%=tea.type_name%></p>
    <p>Origin: <%=tea.origin%></p>
    <p>Brand: <%=tea.brand%></p>
    <p>Leaves: <%=tea.leaves%></p>
    <p>Caffeine: <%=tea.caffeine%></p>
    <p>Pairings: <%=tea.pairing%></p>
    <p>Brew Time: <%=tea.brew_time%></p>
    <p>Tasting Notes: <%=tea.tasting_notes%></p>
    <p>Comments: <%=tea.comments%></p>
    <p><a href="/users/<%=@user.slug%>/teas/<%=@tea.id%>/edit">edit</a> | <a href="/users/<%=@user.slug%>/teas/<%=@tea.id%>">delete</a> </p>
  <% end %>
