  <h1>Your Tea Tin</h1>
  <br>
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>
  <br><br>
    <h3> <%=@tea.tea_name%> </h3>
    <p>Brand: <%=@tea.brand%></p>
    <p>Origin: <%=@tea.origin%></p>
    <p>Leaves: <%=@tea.leaves%></p>
    <p>Caffeine: <%=@tea.caffeine%></p>
    <p>Pairings: <%=@tea.pairing%></p>
    <p>Brew Time: <%=@tea.brew_time%></p>
    <p>Tasting Notes: <%=@tea.tasting_notes%></p>
    <p>Comments: <%=@tea.comments%></p>
    <br>
  <span>Types:</span>
  <% @types = @tea.types.map { |t| t.type_name }.join(", ")  %>
  <%= @types %>
  
  <form method="post" action="/users/<%=@user.slug%>/teas/<%=@tea.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete This Tea">
  </form>

  <br>
  <p><a href="/users/<%=@user.slug%>/teas/<%=@tea.id%>/edit">Edit This Tea</a> | <a href="/users/<%=@user.slug%>/teas">See all your teas</a></p>
