  <h1>Your New Tea</h1>

  <h3>Edit New Tea</h3>
  <h3>Delete New Tea</h3>

  <h4>Your New Tea</h4>
  <% @teas.types.each do |tea| %>
    <h2><%=tea.name%></h2>
    <p>Type: <%=tea.type%></p>
    <p>Origin: <%=tea.origin%></p>
    <p>Brand: <%=tea.brand%></p>
    <p>Leaves: <%=tea.leavess%></p>
    <p>Caffeine: <%=tea.caffeine%></p>
    <p>Pairings: <%=tea.pairings%></p>
    <p>Brew Time: <%=tea.brew_time%></p>
    <p>Tasting Notes: <%=tea.tasting_notes%></p>
    <p>Comments: <%=tea.comments%></p>
  <% end %>
